{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Đăng nhập quản trị</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	
	<link rel="stylesheet" href="{% static "css/manager_login.css" %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static "images/bg.jpg" %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Đăng nhập trang Quản trị</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	{% comment %} <h3 class="mb-4 text-center">Have an account?</h3> {% endcomment %}
		      	<form method="post" class="signin-form">
              {% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" name="email" class="form-control" placeholder="Email" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" name="password" type="password" class="form-control" placeholder="Mật khẩu" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Ghi nhớ
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="{% url 'shop:home_page' %}" style="color: #fff">Quay về trang chủ</a>
								</div>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
 
  <!-- poper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- bootstrap js  -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
	
  <script src="{% static 'js/manager_login.js' %}"></script>
	
</body>
</html>

